<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>List de voyage dispo</title>
</head>
<body>
    <header>
        <h1 id="cc">VOYAGE DISPONIBLE</h1>
    </header>
    <main>  
            <div class="kl">
                <center>
                    <div class="nnc">
                        <label for="DEST">Tana vers : </label><input type="text" id="DEST" >
                        <label for="DEPART">Date de disponibilité : </label><input type="date" id="DEPART" >
                        <label for="HRDEPART">Heure de depart : </label><input type="time" id="HRDEPART" >
                        <button id="nb"> Ajouter </button>
                    </div>
                        <fieldset id="Affiche">
                                
                        </fieldset>
                </center>
            </div>
        <a href="/">Vers la RESERVATION</a>
    </main>
<script src="/Affichage.js"></script> 
</body>
<script>
</script>
</html>
