<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css">
    <script type="module" src="/main.js"></script>
    <script type="module" src="/app.js"></script>
    <title>vam</title>
  </head>
  <body id="kakabe">
    <div class="loha">
      <h1 id="tay">RESERVATION DE PLACE</h1>
    </div>
<div  class="dadabe" >
    <div id="laza">
      <form  action="/laza" method="post">
        <div class="contact">
          <input type="text" id="co" name="Nom" placeholder="Entrez votre nom">
          <input type="number" name="tel" id="ka" placeholder="Votre Numéro de téléphone">  
          <input type="number" name="CIN" id="ko" placeholder="Numéro CIN">
          <input type="email" name="email" id="email" placeholder="Entrez ici votre email">
       </div>
       <div class="kaka">
          <div class="a"> <label for="ba">Date de départ :</label><input type="date" name="date" id="ba" placeholder="Entrer le date de depart"> </div>
          <div class="b"> <label for="bo">Heure de départ :</label><input type="time" name="heure" id="bo" placeholder="Entrer l'heure de depart"> </div>
          <div class="c"> <label for="de">Destination :</label><input type="text" name="dest" id="de" placeholder="Destination"> </div>
       </div>
       <center><a href="" ><button type="submit" class="baba" >Valider</button></a></center>
    </div>
      </form>
        
    <div class="sary">
      <img src="bus-scolaire.png" alt="">
    </div>   
</div>
 <div class="voyage">
       
 </div>
  </body>
</html>
